@import "src/_variables";

.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 100vw;
  border-radius: 8px;
  box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
  background-color: #FFFFFF;
  margin-bottom: 24px;
  max-width: $max-width;
  cursor: pointer;
  > span {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.19px;
    text-align: center;
    color: $soft-blue;
    text-decoration: underline;
  }
}
