@import "../../../../variables";

.add-course-btn {
  display: flex;
  align-items: center;
  width: 138px;
  height: 36px;
  border-radius: 3px;
  background-color: $dark-sky-blue;
  color: $white;
  padding: 0 0 0 18px;
  outline: none;
  margin-bottom: 12px;

  > fa-icon {
    font-size: 18px;
    padding-top: inherit;
  }

  > span {
    padding-left: 12px;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
  }
}
