<div class="select-sorting">
  <select
    name="sorting"
    #selectElement
    (change)='onOptionsSelected(selectElement.value)'
  >
    <option *ngIf="!isChoosedSortingType">Nothing</option>
    <option *ngFor="let type of sortBy" [value]="type">
      {{type}}
    </option>
  </select>
</div>
