@import "src/_variables";

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-content: center;
  min-height: $height64;
  width: 100vw;
  background-color: $white;

  .breadcrumbs-block {
    max-width: $max-width;
    width: 100vw;
    margin: auto;
    > span {
      color: $dark-font;
      height: 100%;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.71;
      cursor: pointer;
    }
  }
}


