<div class="breadcrumbs">
  <div class="breadcrumbs-block">
    <span *ngFor="let page of pages; index as i">
      <span *ngIf="page.id.length">\ {{ page.page }}- {{ page.id }}</span>
      <span *ngIf="!page.id.length"> \
        <a *ngIf="i < pages.length-1" [routerLink]="['/'+page.page]">
          {{ page.page }}
        </a>
        <span *ngIf="i === pages.length-1">{{ page.page }}</span>
      </span>
    </span>
  </div>
</div>
