@import "src/_variables";

.header {
  display: flex;
  justify-content: space-between;
  max-height: $height64;
  width: 100vw;
  background-color: $charcoal-grey;
}

.user-login-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: $white;
  font-size: 14px;
}
