<div class="header">
  <vp-logo></vp-logo>
  <div class="user-login-wrapper">
    <vp-user-login [user]="user"></vp-user-login>
    <vp-log-in-off [user]="user" (loginAuth)="loginAuth()"></vp-log-in-off>
  </div>
</div>
