@import "src/_variables";

.login-page {
  display: flex;
  background-color: $pale-grey-two;
  width: 100vw;
  min-height: calc(100vh - 2 * #{$height64});
  max-height: calc(100vh - 2 * #{$height64});
  overflow-y: auto;
  overflow-x: hidden;

  .login-page-block {
    margin: auto;
    width: $login-block-width;
    height: $login-block-height;
    border-radius: 6px;
    box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
    background-color: $white;
    padding: $margin-vertical;

    > header {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.25;
      letter-spacing: normal;
      color: $dark-font;
      margin-bottom: $margin-vertical;
    }


    > article {
      margin-bottom: $margin-vertical;

      .user-data {
        > label {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 8px;

          .title {
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.22px;
            color: $slate-grey;
          }

          .required {
            font-size: 12px;
            line-height: 1.5;
            letter-spacing: 0.19px;
            text-align: right;
            color: $battleship-grey;
          }
        }
        > input {
          border: 1px solid $pale-grey;
          border-radius: 3px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -khtml-border-radius: 3px;
          background: $white !important;
          outline: none;
          width: calc(100% - #{$margin-vertical});
          font-size: 14px;
          line-height: 1.71;
          letter-spacing: 0.22px;
          color: $silver;
          margin-right: 6px;
          padding: 12px;
          &::placeholder {
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.22px;
            color: $silver;
          }
        }
      }

      .e-mail {
        padding-bottom: 12px;
      }
    }

    > footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .submit {
        width: 68px;
        height: 36px;
        font-size: 14px;
        font-weight: 600;
        line-height: 2.57;
        letter-spacing: -0.1px;
        text-align: center;
      }
      .active-btn {
        background-color: $sick-green;
        color: $pale-grey-two;
        cursor: pointer;
      }
      .disabled-btn {
        background-color: $pale-grey;
        color: grey;
        cursor: not-allowed;
      }
    }
  }
}
