<div class="login-page">
  <form class="login-page-block">
    <header>Login</header>
    <article>
      <div class="user-data e-mail">
        <label for="e-mail">
          <div class="title">E-mail:</div>
          <div class="required"><sup>*</sup>required</div>
        </label>
        <input
          id="e-mail"
          type="email"
          placeholder="Enter e-mail"
          required
          [(ngModel)]="loginParams.eMail"
          [ngModelOptions]="{standalone: true}"
          (keyup)="change()"
        >
      </div>
      <div class="user-data password">
        <label for="password">
          <div class="title">Password:</div>
          <div class="required"><sup>*</sup>required</div>
        </label>
        <input
          id="password"
          type="password"
          placeholder="Enter password"
          required
          [(ngModel)]="loginParams.password"
          [ngModelOptions]="{standalone: true}"
          (keyup)="change()"
        >
      </div>
    </article>
    <footer>
      <div class="forgot-password">
        <a href="#">Forgot password?</a>
      </div>
      <div
        class="submit"
        (click)="onClick()"
        [ngClass]="{'active-btn':isActive, 'disabled-btn': !isActive}"
      >Login</div>
    </footer>
  </form>
</div>
