@import "src/_variables";

.page-not-found {
  min-height: calc(100vh - 2 * #{$height64});
  max-height: calc(100vh - 2 * #{$height64});
  overflow-y: auto;
  overflow-x: hidden;

  > div {
    margin: $margin-vertical auto;
    height: 30%;
    width: 30%;
    background-color: $pale-grey-two;
    padding: $margin-vertical;
    border-radius: 6px;
  }
}
