<div class="page-not-found">
  <div>
    <h1>Page not found</h1>
    <h3>If you are not authorized - <a [routerLink]="'/login'">log in</a></h3>
    <h3>If you are authorized - <a [routerLink]="'/courses'">return</a> to the beginning and try again</h3>
  </div>
</div>
