<div class="course">
  <vp-bread-crumbs [url]="url"></vp-bread-crumbs>
  <div class="courses-block">
    <vp-search (onSearch)="onSearch($event)"></vp-search>
    <vp-list-of-courses [searchString]="searchString" ></vp-list-of-courses>
  </div>
</div>
