@import "src/_variables";

.course {
  background-color: $pale-grey-two;
  width: 100vw;
  min-height: calc(100vh - 2 * #{$height64});
  max-height: calc(100vh - 2 * #{$height64});
  overflow-y: auto;
  overflow-x: hidden;

  .courses-block {
    margin: auto;
    justify-items: center;
    max-width: $max-width;
  }

  .course-item {
    height: 20%;
    border-radius: 8px;
    box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
    background-color: $white;
    padding: 24px;
    margin-bottom: 24px;
  }
}
