<div
  class="course-item"
  [vpCourseHighlight]="{ isUpcoming: isUpcoming, isFresh: isFresh }"
  [ngClass]="{'course-item-top-rated': courseItem.isTopRated}"
>
  <div class="top-block">
    <div  class="title">
      <span>Video course: </span>
      <span>{{ courseItem.title | uppercase }}</span>
      <fa-icon [icon]="faStar" *ngIf="courseItem.isTopRated"></fa-icon>
    </div>
    <div class="date-time">
      <div class="date-time-block">
        <fa-icon [icon]="faClock"></fa-icon>
        <span>{{ courseItem.duration | formatTime }}</span>
      </div>
      <div class="date-time-block">
        <fa-icon [icon]="faCalendarAlt"></fa-icon>
        <span>{{ courseItem.creationDate | date:'d LLL, y' }}</span>
      </div>
    </div>
  </div>
  <div class="bottom-block">
    <div class="description">{{ courseItem.description }}</div>
    <div class="manage-btns">
      <button (click)="editCourse()">
        <fa-icon [icon]="faPen"></fa-icon>
        <span>Edit</span>
      </button>
      <button (click)="deleteCourse()">
        <fa-icon [icon]="faTrash"></fa-icon>
        <span>Delete</span>
      </button>
    </div>
  </div>
</div>
