@import "src/_variables";

.course-item {
  height: 20%;
  border-radius: 8px;
  box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
  background-color: $white;
  padding: 24px;
  margin-bottom: 24px;

  .top-block {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    .title {
      font-size: 24px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      color: $dark-font;
      > fa-icon {
        color: gold;
        vertical-align: super;
        font-size: 14px;
      }
    }
    .date-time {
      display: inline-flex;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $silver-two;
      :first-child {
        margin-right: 16px;
      }
      .date-time-block > fa-icon {
        font-size: 14px;
        margin-right: 8px;
      }

      .date-time-block > span {
        font-size: 12px;
      }
    }
  }

  .bottom-block {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .description {
      width: 75%;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 24px;
      letter-spacing: normal;
      color: $slate-grey;
    }

    .manage-btns {
      display: flex;
      justify-content: flex-end;
      align-self: center;
      width: 25%;
      height: 24px;
      :first-child {
        margin-right: 12px;
      }
      > button {
        border-radius: 3px;
        min-width: 75px;
        min-height: 24px;
        background-color: $dark-sky-blue;
        color: $white;
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.83;
        letter-spacing: -0.09px;
      }
    }
  }
}

.course-item-top-rated {
  background: rgba(250,250,210, .7);
}
