@import "src/_variables";

.course-item-data {
  display: flex;
  background-color: $pale-grey-two;
  width: 100vw;
  min-height: calc(100vh - 2 * #{$height64});
  max-height: calc(100vh - 2 * #{$height64});
  overflow-y: auto;
  overflow-x: hidden;
  padding: 24px 0;

  .course-item-data-block {
    margin: auto;
    width: $course-item-data-block_width;
    border-radius: 6px;
    box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
    background-color: $white;
    padding: $margin-vertical;

    > header {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.25;
      letter-spacing: normal;
      color: $dark-font;
      margin-bottom: $margin-vertical;
    }

    > article {
      margin-bottom: $margin-vertical;

      .block-data {
        margin-bottom: 12px;
        > label {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 8px;

          .title {
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.22px;
            color: $slate-grey;
          }

          .required {
            font-size: 12px;
            line-height: 1.5;
            letter-spacing: 0.19px;
            text-align: right;
            color: $battleship-grey;
          }
        }
        > input, textarea {
          border: 1px solid $pale-grey;
          border-radius: 3px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -khtml-border-radius: 3px;
          background: $white !important;
          outline: none;
          width: calc(100% - #{$margin-vertical});
          font-size: 14px;
          line-height: 1.71;
          letter-spacing: 0.22px;
          color: $silver;
          margin-right: 6px;
          padding: 12px;
          &::placeholder {
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.22px;
            color: $silver;
          }
        }

        > textarea {
          height: 108px;
        }
      }

      .date, .duration {
        width: 25%;
      }

      .authors {
        width: 50%;
      }
    }

    > footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .cancel {
        width: 76px;
        height: 36px;
        border-radius: 3px;
        background-color: $pale-grey;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.43;
        letter-spacing: -0.1px;
        color: $slate-grey-two;
      }
      .save {
        width: 64px;
        height: 36px;
        margin-left: 12px;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.43;
        letter-spacing: -0.1px;
      }
      .active-btn {
        background-color: $sick-green;
        color: $white;
      }

      .disabled-btn {
        background-color: $battleship-grey;
        color: $slate-grey;
      }
    }
  }
}
