<vp-bread-crumbs [url]="url"></vp-bread-crumbs>
<div class="course-item-data">
  <form class="course-item-data-block">
    <header name="title" *ngIf="courseId">Edit course</header>
    <header name="title" *ngIf="!courseId">New course</header>
    <article>
      <div class="block-data">
        <label for="title">
          <div class="title">Title:</div>
          <div class="required"><sup>*</sup>required</div>
        </label>
        <input
          id="title"
          type="text"
          placeholder="Text input"
          required
          [(ngModel)]="course.title"
          [ngModelOptions]="{standalone: true}"
          (keyup)="change()"
        >
      </div>
      <div class="block-data">
        <label for="description">
          <div class="title">Description:</div>
          <div class="required"><sup>*</sup>required</div>
        </label>
        <textarea
          id="description"
          type="text"
          placeholder="Add description"
          cols="4"
          required
          [(ngModel)]="course.description"
          [ngModelOptions]="{standalone: true}"
          (keyup)="change()"
        ></textarea>
      </div>
      <div class="block-data duration">
        <label for="duration">
          <div class="title">Duration:</div>
          <div class="required"><sup>*</sup>required</div>
        </label>
        <input
          id="duration"
          type="number"
          placeholder="minutes"
          required
          [(ngModel)]="course.duration"
          [ngModelOptions]="{standalone: true}"
          (keyup)="change()"
        >
      </div>
      <div class="block-data date">
        <label for="date">
          <div class="title">Date:</div>
          <div class="required"><sup>*</sup>required</div>
        </label>
        <input
          id="date"
          [ngModel]="course.creationDate | date: 'MM-dd-yyyy'"
          (ngModelChange)="formatDate($event)"
          type="text"
          (keyup)="change()"
          placeholder="mm-dd-yyyy"
          [ngModelOptions]="{standalone: true}"
          required
          />
      </div>
      <div class="block-data authors">
        <label for="authors">
          <div class="title">Authors:</div>
          <div class="required"><sup>*</sup>required</div>
        </label>
        <input
          id="authors"
          type="text"
          placeholder="Start typing"
          required
          [(ngModel)]="course.authors"
          [ngModelOptions]="{standalone: true}"
          (keyup)="change()"
        >
      </div>
    </article>
    <footer>
      <button class="cancel" (click)="cancel()">Cancel</button>
      <button
        class="save"
        (click)="save()"
        [disabled]="!isReadyToSave"
        [ngClass]="{'active-btn':isReadyToSave, 'disabled-btn':!isReadyToSave}"
      >Save</button>
    </footer>
  </form>
</div>
