<div class="log-in-off" (click)="login()">
  <span *ngIf="!isAuth">
    <fa-icon [icon]="faSignInAlt"></fa-icon>
    <span>Log in</span>
  </span>
  <span *ngIf="isAuth">
    <fa-icon [icon]="faSignOutAlt"></fa-icon>
    <span>Log off</span>
  </span>
</div>
