<div class="list-of-courses">
  <div class="manage-elements">
    <vp-sorting (onChanged)="onChanged($event)"></vp-sorting>
    <vp-add-course></vp-add-course>
  </div>
  <vp-course-item
    *ngFor="let course of courses | filterBy:searchString | sortBy:chooseTypeSorting"
    [courseItem]="course"
    (removeCourse)="removeCourse($event)"
  >
  </vp-course-item>
  <vp-load-more [countOfCourses]="countOfCourses"></vp-load-more>
</div>
