<div class="search">
  <fa-icon class="fa-rotate-90" [icon]="faSearch"></fa-icon>
  <input type="text" placeholder="Text to search" [(ngModel)]="searchString" />
  <button (click)="search()">Search</button>
</div>
