@import "src/_variables";

.search {
  position: relative;
  display: flex;
  align-items: flex-start;
  height: 48px;
  width: 100vw;
  margin: $margin-vertical 0;

  > input {
    border: 1px solid $pale-grey;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: $white !important;
    outline: none;
    width: 360px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.22px;
    color: $silver;
    margin-right: 6px;
    padding: 12px 12px 12px 42px;
    &::placeholder {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.22px;
      color: $silver;
    }
  }

  > button {
    width: 100px;
    height: 48px;
    background-color: $sick-green;
    border-radius: 3px;
    color: $white;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.13px;
    outline: none;
  }

  > fa-icon {
    position: absolute;
    padding: 12px;
    pointer-events: none;
    font-size: 24px;
    letter-spacing: 0.22px;
    color: $silver;
  }
}
