@import "src/_variables";

.copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  color: $silver;
  font-size: 14px;
  line-height: 1.71;
  width: $max-width;
}
