//sizes
$height64: 64px;
$margin-horizontal: 40px;
$margin-vertical: 24px;
$max-width: 1100px;
$login-block-width: 368px;
$login-block-height: 298px;
$course-item-data-block_width: 731px;
$course-item-data-block-height: 590px;

// Colors
$charcoal-grey: #414452;
$dark-font: #2C2F3C;
$pale-grey: #D9DBE3;
$pale-grey-two: #F2F3F7;
$white: #FFFFFF;
$silver: #C0C3CE;
$silver-two: #B9BDCE;
$sick-green: #9BC837;
$dark-sky-blue: #30B6DD;
$slate-grey: #525462;
$slate-grey-two: #5b616f;
$soft-blue: #577CE6;
$battleship-grey: #6c7283;
$grey: #a8a9b4;
